.elementor-element.elementor-element-049ed67 {
    padding: 80px 0px 80px 0px;
}

.elementor-element.elementor-element-d311f0c .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
}
.elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3em;
}
p:last-of-type{
    font-weight: 500;
}

.be__addons__info__box__wrap {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 8px 45px 0px rgba(67.00000000000003, 143.00000000000006, 249, 0.12);
    padding: 20px 20px 20px 20px;
}


 .elementor-element.elementor-element-11e4317 {
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.single__info__box.elementor-repeater-item-d7e2b0c {
    margin: 0px 0px 0px 0px;
}

.be__addons__info__box__wrap {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 8px 45px 0px rgba(67.00000000000003, 143.00000000000006, 249, 0.12);
    padding: 20px 20px 20px 20px;
}

.info__box__header__title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: 0px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #438FF9;
    margin: 0px 0px 20px -20px;
    padding: 0px 0px 0px 20px;
}

 .elementor-element.elementor-element-15ea0e9 .info__box__icon {
    font-size: 18px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-15ea0e9 .info__box__icon svg {
    width: 18px;
}

 .elementor-element.elementor-element-15ea0e9 .single__info__box .info__details {
    font-size: 16px;
    font-weight: 400;
    color: #5F5858;
}

 .elementor-element.elementor-element-15ea0e9 .single__info__box {
    margin: 0px 0px 12px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-b2b0344 .be__addons__info__box__wrap {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 8px 45px 0px rgba(67.00000000000003, 143.00000000000006, 249, 0.12);
    padding: 20px 20px 20px 20px;
}

 .elementor-element.elementor-element-b2b0344 .info__box__header__title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: 0px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #438FF9;
    margin: 0px 0px 20px -20px;
    padding: 0px 0px 0px 20px;
}

 .elementor-element.elementor-element-b2b0344 .info__box__icon {
    font-size: 18px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-b2b0344 .info__box__icon svg {
    width: 18px;
}

 .elementor-element.elementor-element-b2b0344 .single__info__box .info__details {
    font-size: 16px;
    font-weight: 400;
    color: #5F5858;
}

 .elementor-element.elementor-element-b2b0344 .single__info__box {
    margin: 0px 0px 12px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-1d64afb .be__addons__info__box__wrap {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 8px 45px 0px rgba(67.00000000000003, 143.00000000000006, 249, 0.12);
    padding: 20px 20px 20px 20px;
}

 .elementor-element.elementor-element-1d64afb .info__box__header__title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: 0px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #438FF9;
    margin: 0px 0px 20px -20px;
    padding: 0px 0px 0px 20px;
}

.be__addons__infobox__style__1 .info__box__header__title h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding-left: 30px;
    border-left: 3px solid #438FF9;
    margin-left: -20px;
}
 .elementor-element.elementor-element-1d64afb .info__box__icon {
    font-size: 18px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-1d64afb .info__box__icon svg {
    width: 18px;
}

 .elementor-element.elementor-element-1d64afb .single__info__box .info__details {
    font-size: 16px;
    font-weight: 400;
    color: #5F5858;
}

 .elementor-element.elementor-element-1d64afb .single__info__box {
    margin: 0px 0px 12px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-834f584 .be__addons__info__box__wrap {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 8px 45px 0px rgba(67.00000000000003, 143.00000000000006, 249, 0.12);
    padding: 20px 20px 20px 20px;
}

 .elementor-element.elementor-element-834f584 .info__box__header__title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: 0px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #438FF9;
    margin: 0px 0px 20px -20px;
    padding: 0px 0px 0px 20px;
}

 .elementor-element.elementor-element-834f584 .info__box__icon {
    font-size: 18px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-834f584 .info__box__icon svg {
    width: 18px;
}

 .elementor-element.elementor-element-834f584 .single__info__box .info__details {
    font-size: 16px;
    font-weight: 400;
    color: #5F5858;
}

 .elementor-element.elementor-element-834f584 .single__info__box {
    margin: 0px 0px 12px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-f3f36fa iframe {
    height: 530px;
    filter: brightness( 100% ) contrast( 100% ) saturate( 60% ) blur( 0px ) hue-rotate( 70deg );
}

 .elementor-element.elementor-element-4d43089:not(.elementor-motion-effects-element-type-background),  .elementor-element.elementor-element-4d43089 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

 .elementor-element.elementor-element-4d43089,  .elementor-element.elementor-element-4d43089 > .elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

 .elementor-element.elementor-element-4d43089 {
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.07);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -150px;
    margin-bottom: 0px;
    padding: 60px 60px 60px 60px;
    z-index: 1;
}

 .elementor-element.elementor-element-4d43089 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

 .elementor-element.elementor-element-93484d2 > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper label {
    width: 100%;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="text"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="email"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="url"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="number"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="tel"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="date"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="file"] {
    height: 55px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="text"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="email"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="url"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="number"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="tel"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="date"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="file"] {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E1E1E1;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper span.wpcf7-list-item {
    display: inline-block;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper select {
    height: 55px;
    width: 100%;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper textarea {
    height: 150px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E1E1E1;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="submit"], .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper button[type="submit"] {
    font-weight: 600;
    color: #FFFFFF;
    background-color: #438FF9;
    width: 200px;
    height: 55px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
    margin: 15px 0px 0px 0px;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="submit"],  .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper button[type="submit"] {
    transition: 0.3s;
}

 .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper input[type*="submit"]:hover, .elementor-element.elementor-element-95e6287 .be__addons__form__wrapper button[type="submit"]:hover {
    color: #438FF9;
    background-color: #FFFFFF;
}

 .elementor-element.elementor-element-89ede2b > .elementor-element-populated {
    margin: 0px 0px 0px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
}

.be__addons__infobox__style__1 .info__box__icon {
    top: 5px;
}


 .elementor-element.elementor-element-6f002bf img {
    border-radius: 10px 10px 10px 10px;
}

@media(max-width: 1366px) {
     .elementor-element.elementor-element-89ede2b > .elementor-element-populated {
        margin:0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width: 992px) and (min-width:768px) {
     .elementor-element.elementor-element-43cbcf6 {
        width:100%;
    }

     .elementor-element.elementor-element-b85e1b8 {
        width: 50%;
    }

     .elementor-element.elementor-element-6dd5acb {
        width: 100%;
    }

     .elementor-element.elementor-element-89ede2b {
        width: 100%;
    }
}


@media(max-width: 992px) {
     .elementor-element.elementor-element-4d43089 {
        padding:30px 30px 30px 30px;
    }

     .elementor-element.elementor-element-6f002bf img {
        width: 100%;
    }

     .elementor-element.elementor-element-6f002bf > .elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }
}

@media(max-width: 767px) {
     .elementor-element.elementor-element-d311f0c .elementor-heading-title {
        font-size:28px;
    }

     .elementor-element.elementor-element-4d43089 {
        padding: 20px 20px 20px 20px;
    }
}
